<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="/stylesheets/css/main.css" />
  <link rel="stylesheet" href="/stylesheets/css/css-helper/jquery-ui.css">
</head>

<body>
  <div id="app">
    <div id="areaGroup">
      <div class="title areaTitle">
        <h1>
          <%= title_area %>
        </h1>
      </div>

      <ul class="groups"></ul>

    </div>

    <div id="maps">
      <div class="title mapsTitle">
        <h1>
          <%= title_maps %>
        </h1>
      </div>

      <div id="map_img">
          
        <div class="img_div">

        </div>
      </div>

      <div id="information">
        <div class="warning">

          <div class="title warnTitle">
            <h2>
              <%= title_warning %>
            </h2>
          </div>

          <div class="infList">
            <ul>
              <% for(var i=0;i<'30';i++) {%>
              <li>worring !!!</li>
              <% } %>
            </ul>
          </div>
        </div>

        <div class="function_area">
          <div class="title warnTitle">
            <h2>
              <%= title_function_area %>
            </h2>
          </div>
          <div class="maps_name">
            <h3>
              Map's Name :
              <span>
                &nbsp;&nbsp;
              </span>
            </h3>
          </div>
          <div class="img_control">
            <h3> 
              Map Zoom :
            </h3>
            <button id="zoom">
              +
            </button>
            <button id="zoom_Out">
              -
            </button>
            <button id="addarea">
              addArea
            </button>
          </div>
          <button class="store">
            store
          </button>
        </div>

      </div>
    </div>

    <div id="device">
      <div class="title deviceTitle">
        <h1>
          <%= title_device %>
        </h1>
      </div>

      <ul class="items"></ul>

    </div>

  </div>

  
  <script src="/javascripts/js-helper/jquery.js"></script>
  <script src="/javascripts/data.js"></script>
  <script src="/javascripts/main.js"></script>
  <script src="/javascripts/js-helper/draggable.js"></script>
  <script src="/javascripts/js-helper/jquery-ui.js"></script>
  <script src="http://localhost:35729/livereload.js"></script>
</body>

</html>