<!DOCTYPE html>
<html xmlns= "http://www.w3.org/1999/xhtml">

<head>
  <title>
    <%= title %>
  </title>
  <link rel= "stylesheet" href= "/stylesheets/css/main.css" />
  <link rel= "stylesheet" href= "/stylesheets/css/css-helper/jquery-ui.css">
  <link rel= "stylesheet" href= "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel= "stylesheet" href= "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div class= "homer">
    <div class= "top"></div>
    <div class= "bottom"></div>
  </div>

  <div id= "app">

    <div id= "areaGroup">
      <div class= "title areaTitle">
        <h1>
          <%= title_area %>     
        </h1>
      </div>
      <ul class= "groups"></ul>
    </div>

    <div id= "maps">
      <div class= "title mapsTitle">
        <h1>
          <%= title_maps %>
        </h1>
      </div>

      <div id= "map_img">
        <div class= "img_div"></div>
      </div>

      <div id= "information">
        <div class= "warning">
          <div class= "title warnTitle">
            <h2>
              <%= title_warning %>
            </h2>
          </div>

          <div class= "infList">
            <ul>
              <% for(var i=0;i<'30';i++) {%>
              <li>worring !!!</li>
              <% } %>
            </ul>
          </div>
        </div>

        <div class= "function_area">

          <div class= "title warnTitle">
            <h2>
              <%= title_function_area %>
            </h2>
          </div>
          
          <div class= "maps_name">
            <h3>
              Map's Name :
              <span>
                &nbsp;&nbsp;
              </span>
            </h3>
          </div>

          <div class= "img_control">

            <button class= "btn btn-info" id= "zoom">
              <i class= "fa fa-search-plus"></i> 放大地圖
            </button>

            <button class= "btn btn-info" id= "zoom_Out">
              <i    class= "fa fa-search-minus"></i> 縮小地圖
            </button>

            <label class= "btn btn-info">
              <form action= "" enctype= "multipart/form-data">
                <input id= "upload_img" style= "display:none;" type= "file">
              </form>
              <i class= "fa fa-photo"></i> 上傳圖片
            </label>

            <button class= "btn btn-info"
                    id= "addArea"
                    value= "add_off"
                    style= "margin-bottom: .5rem">
              <i class= "fa fa-heart"></i> 新增區域
            </button> 

            <button class= "btn btn-info" id= "store">
              <i class= "fa fa-check"></i> 儲存
            </button>
          </div>

        </div>
      </div>
    </div>

    <div id= "device">
      <div class= "title deviceTitle">
        <h1>
          <%= title_device %>
        </h1>
      </div>

      <ul class= "items"></ul>

    </div>

  </div>

  
  <script src= "/javascripts/js-helper/jquery.js">                                      </script>
  <script src= "/javascripts/data.js">                                                  </script>
  <script src= "/javascripts/main.js">                                                  </script>
  <script src= "/javascripts/js-helper/draggable.js">                                   </script>
  <script src= "/javascripts/js-helper/jquery-ui.js">                                   </script>
  <script src= "http://localhost:35729/livereload.js">                                  </script>
  <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>

</html>