<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="/stylesheets/css/main.css" />
  <link rel="stylesheet" href="/stylesheets/css/css-helper/jquery-ui.css">
</head>

<body>

  <div id="app">
    <div id="areaGroup">
      <div class="title areaTitle">
        <h1>
          <%= title_area %>
        </h1>
      </div>

      <ul class="groups">
        <li class="area">Toilet</li>
        <li class="area">BedRoom</li>
        <li class="area">Kitchen</li>
        <li class="area">LivingRoom</li>
        <li class="area">DiningRoom</li>
        <li class="area">Study</li>
        <li class="area">WorkShop</li>
      </ul>

    </div>

    <div id="maps">
      <div class="title mapsTitle">
        <h1>
          <%= title_maps %>
        </h1>
      </div>

      <div id="map_img">
        <img src="http://www.allness.com.tw/public/upload/files/images/%E5%B9%B3%E9%9D%A2%E5%9C%96/%E5%8D%81%E8%88%88%E8%B7%AF%E7%94%B0%E5%AE%852.png" alt="">
      </div>

      <div id="information">
        <div class="warning">

          <div class="title warnTitle">
            <h2>
              <%= title_warning %>
            </h2>
          </div>

          <div class="infList">
            <ul>
              <% for(var i=0;i<'30';i++) {%>
                <li>worring !!!</li>
              <% } %>
            </ul>
          </div>
        </div>

        <div class="function_area">
          <div class="title warnTitle">
            <h2>
              <%= title_function_area %>
            </h2>
          </div>
          <div class="maps_name">
              <h3>Map's Name :<span>&nbsp;&nbsp;1F</span></h3>
              
          </div>
          <div class="img_control">
            <h3> Map Zoom :</h3>
            <button id="zoom">+</button>
            <button id="zoom_Out">-</button>
          </div>
          <button class="store">store</button>
        </div>

      </div>
    </div>

    <div id="device">
      <div class="title deviceTitle">
        <h1>
          <%= title_device %>
        </h1>
      </div>

      <ul class="items">

        <% for(var i=0;i<'10';i++) {%>
          <li class="item">
            <img src="/images/co2.svg" alt="">
            <p>CO₂ Sensor</p>
          </li>

          <li class="item">
            <img src="/images/light.svg" alt="">
            <p>Color Light</p>
          </li>

          <li class="item">
            <img src="/images/Thermometer.svg" alt="">
            <p>Infrared Thermometer</p>
          </li>

          <li class="item">
            <img src="/images/door.svg" alt="">
            <p>Door Magnetic Sensor</p>
          </li>

          <li class="item">
            <img src="/images/Socket.svg" alt="">
            <p>Smart Socket</p>
          </li>

          <% } %>


      </ul>

    </div>

  </div>



  <script src="/javascripts/js-helper/jquery.js"></script>
  <script src="/javascripts/main.js"></script>
  <script src="/javascripts/js-helper/jquery-ui.js"></script>
  <script src="http://localhost:35729/livereload.js"></script>
</body>

</html>